<nav>
<ul>

  <li><p><i>Gebruik</i><img id="shift-con" src="../source/pictures/shift-controller2.png"><b>+</b> <img id="left-con" src="../source/pictures/left-controller.svg"> <b>/</b> <img id="right-con" src="../source/pictures/right-controller.svg"> <i> om het formulier te gebruiken.</i></p></li>
</ul>


</nav>
