<nav>
<ul>
  <li>
  <p>Gebruik de pijltjes toetsen om de formulier te gebruiken.</p></li>
  <li><p><img id="left-con" src="../source/pictures/left-controller.svg"> <img id="right-con" src="../source/pictures/right-controller.svg"></p></li>
</ul>


</nav>
