<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>
        <H2></H2>
        <form action="">
        <div class="form-container" >
        <fieldset class="form1">
                
            <label for="location">
                <h2>Van</h2> </label>
            <input list="locaties" id="location" name="location" placeholder="Adres, station of postcode"/>

            <datalist id="locaties">
                <option value="Huidige Locatie">
                <option value="Huis">
                <option value="Werk">
            </datalist>

        </fieldset>
    </div>
        <div class="form-container" >
        <fieldset class="form1">
           
            <label for="destination">
                <h2>Naar</h2> </label>
            <input list="bestemmingen" id="destination" name="destination" placeholder="Adres, station of postcode"/>

            <datalist id="bestemmingen">
                <option value="Huis">
                <option value="Werk">
            </datalist>

        </fieldset>
        <H2></H2>
     
    </div>
    <div class="form-container" > 
        <fieldset id="day0" class="datum">
            <label for="day">
                <h2>Dag</h2> </label>
                <input type="number" value="15" id="day" min="0"  max="31" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">

            </fieldset>
    
            <fieldset id="month0" class="datum">
                <label for="month">
                    <h2>Maand</h2> </label>
                    <input type="number" value="4" id="month" min="1"  max="12" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">
               
    
    
            </fieldset>
           
       
    
        </div>
    <div class="form-container" >
        <fieldset class="buttons">
            <label for="vertrek">
            <input type="radio" id="vertrek" name="buttons" value="vertrek"
            checked>
            <span class="">Vertrek</span>
     </label>
     <label for="aankomst">
            <input type="radio" id="aankomst" name="buttons" value="aankomst"

            >
            <span class="">Aankomst</span>
     </label>

        </fieldset>
        <H2></H2>
     
    </div>

    <div class="form-container" > 
        <fieldset id="hour0" class="datum">
            <label for="hour">
                <h2>Uur</h2> </label>
                <input type="number" value="10" id="hour" min="2"  max="23" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">
        
            </fieldset>
        
            <fieldset id="minutes0" class="datum">
                <label for="minutes">
                    <h2>Minuten</h2> </label>
                    <input type="number" value="00" id="minutes" min="00"  max="59" step="15" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">
               
        
        
            </fieldset>
           
       

        </div>
        <div class="form-container" >
            <button type="submit">Submit</button>
            </div>
        </form>
    </section>
    <script src="./js/script.js"></script>
</body>

</html>