<div class="form-container" > 
        <fieldset id="hour">
            <label for="hour">

                <input type="number" value="10" name="hour" id="hour0" min="0"  max="23" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">
            </label>
            </label>
            </fieldset>

            <fieldset id="min" class="">
                <label for="hour">

                    <input type="number" value="00" id="min" min="0"  max="59" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;">
                </label>


            </fieldset>
           
       

        </div>